CI_ENVIRONMENT = development

app.baseURL = 'http://localhost'
app_baseURL = 'http://localhost'

database.default.hostname = mysql
database.default.database = ci4-crud-test
database.default.username = ci4
database.default.password = a159753b654852c
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# database.tests.hostname = localhost
# database.tests.database = ci4_test
# database.tests.username = root
# database.tests.password = root
# database.tests.DBDriver = MySQLi
# database.tests.DBPrefix =
# database.tests.port = 3306